<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>ตะกร้าสินค้า</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">หน้าแรก<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart">ตะกร้าสินค้า</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- start category Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">รายการสินค้า</th>
                            <th scope="col">ราคา</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">ทั้งหมด</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart }}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img style="width: 200px;" src="/uploads/{{this.image}}" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p>{{this.product}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5 class="product_price" data-price="{{this.price}}">{{this.price}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="hidden" id="proId" value="{{this.id}}" />
                                    <input type="text" name="qty" class="toggle-add" id="sst" maxlength="12"
                                        value="{{this.quantity}}" title="Quantity:" class="input-text qty" />
                                    <button class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <h5 class="total_result"></h5>
                            </td>
                        </tr>
                        {{/each}}
                        <tr class="bottom_button">
                            <td>
                                {{!-- <a class="gray_btn" id="updateCart" href="#">อัพเดท ตะกร้าสินค้า</a> --}}
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                {{!-- <div class="cupon_text d-flex align-items-center">
                                    <input type="text" placeholder="Coupon Code" />
                                    <a class="primary-btn" href="#">ตกลง</a>
                                    <a class="gray_btn" href="#">ยกเลิกคูปอง</a>
                                </div> --}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <h5>รวมทั้งหมด</h5>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                <h5 class="totalSum"></h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>
                                {{!-- <h5>การส่งสินค้า</h5> --}}
                            </td>
                            <td>
                                {{!-- <div class="shipping_box">
                                    <ul class="list">
                                        <li>
                                            <a class="shipping">ส่งพัสดุธรรมดา: 27.00 บาท</a>
                                        </li>
                                        <li>
                                            <a class="shipping">ส่งพัสดุด่วน: 35.00 บาท</a>
                                        </li>
                                    </ul>
                                </div> --}}
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    {{!-- <a class="gray_btn" href="#">Continue Shopping</a> --}}
                                    <a class="primary-btn btn-process">สั่งสินค้า</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<!-- end category Area -->


<!--Modal Area -->
{{> modals}}
<!-- end Modal Area -->

<!-- start footer Area -->
{{> footer_new}}
<!-- End footer Area -->
<script src="/assets/jquery/jquery.min.js"></script>
{{!-- Start Scripts --}}
<script src="/js/cart.js"></script>

{{!-- end Scripts --}}